
a {
    color: #868686;
    text-decoration: none;
    font-size: 1.5vw;
}


.link {
    display: inline-block;
    position: relative;
    border: none;
    padding-bottom: 4px;
    text-transform: uppercase;
    font-family: Montserrat, helvetica, arial, sans-serif;
    font-weight: 700
}

.link:active,
.link:focus,
.link:hover {
    outline: 0
}

.link:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    width: 0;
    height: 2px;
    -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
    transition: all .7s cubic-bezier(.35, 1, .33, 1)
}

.link:hover {
    color: #000
}

.link:hover:before {
    width: 100%
}

.link-theme:before {
    background: #00ffc4
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
}

.navbar>h3{
    margin-top: 1vh;
    padding: 0 1rem 0 1rem;
    display: inline-block;
    font-size: 2.8vw;
    letter-spacing: 0.7rem;
    font-family: 'B612', sans-serif;
    font-weight: 800;
}



.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin-top: 1vh;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #c1c1c1;
    margin: 1.2vw;
}

.navbar-links li a:hover {
    color: #00ffc4;
}

.toggle-button {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #929292;
    border-radius: 10px;
}

#spone{
    /*display: none;*/
    padding: 0 1rem 0 1rem;
    display: inline-block;
    font-size: 2.8vw;
    letter-spacing: 0.7rem;
    font-family: 'B612', sans-serif;
    font-weight: 800;
}

#pic2{
    display: none;
}

#git{
    width: 2.7vw;
}

#ints{
    width: 3.3vw;
}

.icon a image{
    width: 3.4vw;
}

#toph2{
    display: none;
    color: white;
    position: absolute;
    font-size: 10vw;
    font-family: 'Sora', sans-serif;
    letter-spacing: 10px;
    font-weight: 800;
    padding-left: 4vw;
}

#toph3{
    top:5vh;
    display: none;
    position: absolute;
    font-size: 12vw;
    font-family: 'Sora', sans-serif;
    letter-spacing: 7px;
    font-weight: 800;
    padding-left: 4vw;

}

.icon {
    position: relative;
    top: 36vh;
    left: 3vw;
    width: 30vw;
    height: 10vh;
}
.icon div{
    width: 4.3vw;
    height: 10vh;
    display: inline-flex;
    position: relative;
    padding-right: 0.8vw;

}

.icon a{
    position: absolute;
}

.icon a img{
    width:3.7vw;
    position: absolute;
}

#pic3{
    display: none;
}
.edu_section p:nth-child(3){
    font-size: 1.1vw
}


.edu_section p{
    padding-top: 15px;
    font-weight: 700;
    font-size: 1.5vw
}

#m3 div:nth-child(2){
    left: 12vw;
    top: 4vh;
}

#m3 div:nth-child(3){
    left: 55vw;
    top: -30px;
}

#m3 div:nth-child(4){
    left: 12vw;
    top: -2vh;
}







@media (max-width: 930px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    #toph2,#toph3{
        display: block;
    }

    #pic2{
        display: block;
    }

    #pic1{
        display: none;
    }

    #pic4{
        display: none;
    }

    #pic3{
        display: block;
        right: 0;
    }

    #aboutMeSection > h1 {
        color: white;
        position: absolute;
        font-family: 'Sora', sans-serif;
        font-size: 15vw;
        top: -20vh;
        right: 40vw;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        font-size: 1.2rem;
    }

    .navbar-links.active {
        display: flex;
    }


    .navbar>h3{
        margin-top: 1vh;
        font-size: 2.5rem;
    }


    #hederSection>p{
        font-size: 4vw;
        width: 96vw;
        top: 16.3vh;
        padding-left: 4vw;
    }

    .icon {
        position: relative;
        top: 24vh;
        left: 4.3vw;
        width: 74vw;
        height: 10vh;
    }
    .icon div{
        width: 12vw;
        height: 6vh;
        display: inline-flex;
        position: relative;
        padding-right: 4vw;

    }

    .icon a{
        position: absolute;
    }

    .icon a img{
        width:10vw;
        position: absolute;
    }

    #hederSection {
        position: relative;
        bottom: 7vh;
        width: 70vw;
        height: 50vh;
        top: 26vh;
    }


    #toph1{
        display: none;
    }

    #aboutme {
        color: #d0d0d0;
        font-size: 2.5vw;
        width: 45vw;
        top: 4vh;
        right: 38vw;
    }

    button {
        border-radius: 7px;
        width: 75px;
        height: 27px;
        color: #00ffc4;
        background-color: black;
        border-color: #00ffc4;
        font-family: 'Sora', sans-serif;
        font-size: 7px;
        font-weight: 600;
    }

    #btnCv {
        position: absolute;
        top: 28vh;
        right: 64vw;
    }

    .skills_head{
        width: 100%;
        margin-bottom: 5vh;
        display: grid;
        place-items: center;
        text-align: center;
    }
    .skills_head h2{
        font-size: 12vw;
        margin-bottom: -5px;
    }

    .skill_bar .bar {
        width: 100%;
        height: 8px;
        background-color: rgba(0, 0, 0, 0.144);
        border-radius: 25px;
        margin-top: 5px;
        position: relative;
        transition: all 15s;
    }

    .skill_bar .info p:nth-child(1) {
        font-size: 3vw;
    }

    .skill_bar .info p:nth-child(2) {
        font-weight: 500;
        font-size: 2.5vw;
    }

    .skills_section {
        width: 100%;
        height: 82vh;
        padding: 0 8vw 0 8vw;
        background-color: rgba(0, 0, 0, 0.082);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills_main {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 98px;
        grid-column-gap: 29px;
    }

    .skills_head h2 {
        font-size: 12vw;
        margin-bottom: 22px;
        margin-top: 7vh;
    }

    .edu_section {
        width: 87vw;
        height: 15vh;
    }

    .edu_section p{
        padding-right: 6.5vw;
    }

    .edu_section p:nth-child(1){
        font-size: 3.5vw;
    }

    .edu_section p:nth-child(2){
        font-size: 4.5vw;
    }


    .edu_section p:nth-child(3){
        font-size: 3vw;
    }

    #m3 div:nth-child(2){
        left: 8vw;
        top: 3vh;
    }

    #m3 div:nth-child(3){
        left: 8vw;
        top: 12vh;
    }

    #m3 div:nth-child(4){
        left: 8vw;
        top: 21vh;
    }

    #p1{
        display: none;
    }

    #p2{
        display: none;
    }
    .pro_section {
        width: 89vw;
        height: 28vh;
    }

    .intro {
        height: 8vh;
        width: 89vw;
    }

    .intro h1 {
        font-size: 8vw;
    }

    .intro p {
        font-size: 4vw;
    }

    #btnViewPro {
        top: 38vh;
        left: 38vw;
        position: absolute;
        z-index: 3;
        width: 24vw;
        height: 4vh;
        font-size: 3.3vw;
    }







}
